.w-100 {
  display: flex;
  height: 100vh;

}
.navbar.navbar-expand-lg.bg-body-tertiary{
  background-color: #212529;

}
.navbar-brand{
  color: #F8F8FF;
}

.navbar-brand a:hover{
  color:gainsboro;
}
.nav-link-active {
  color : #F8F8FF;
  text-decoration: none;
}
.nav-link-dropdown-toggle{
  color : #F8F8FF;
  margin-left: 50%;

}
.container-fluid a:hover{
  color: gainsboro;
}

.flex {

  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.titoloFilosolofo{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  color: #212529;

}
* {
  box-sizing: border-box;
  margin: 0;
  /*Margine superiore, destro, sinistro e inferiore pari a 0px */
  padding: 0;
  /*spazio intorno agli elementi pari a 0px*/
  scroll-behavior: smooth;
  /*permette di scrollare in modo più elegante*/
}
div.carousel-caption.d-none.d-md-block.h5{
  color:black;
 font-weight: 700;
}
div.carousel-caption.d-none.d-md-block{
  background-color: gainsboro;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}
.figure{
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14%;
}
.PlatoFoto{
  height: auto;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


.titoloFilosofoParagrafo1 {
  text-align:justify;
    font-weight: 700;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    color: #212529;
    margin-left: 1%;
    margin-right: 1%;
}
.titoloFilosofoParagrafo2 {
  text-align: justify;
  font-weight: 700;
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
  color: #212529;
  margin-left :1%;
  margin-right: 1%;
}
.testoFilosofo{
  text-align: justify;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #212529;
    margin-left: 1%;
    margin-right: 1%;
}

/*Formattazione generale foglio html, nei casi particolari vado poi a specificare, margini e spazi*/